.ThemeSelector {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto;
  .ModeToggle {
    margin-right: auto;
    button {
      font-size: 1.25em;
      color: #f5f5f5;
      &.DarkMode {
        filter: invert(100%);
      }
      &.LightMode {
        filter: invert(20%);
      }
    }
  }
  .ThemeButtons {
    .ThemeButton {
      display: inline-block;
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-left: 15px;
      border-radius: 50%;
    }
  }
}